.alert {
    display: block;
    background-color: #CC3300;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.success {
    display: block;
    background-color: #00CC66;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

a {
    color: inherit;
    text-decoration:none;
}
